 <div class="landingpage">
       <section id="search-section" class="bg-dark py-5 card border border-secondary">
           <div class="container">
                <div class="row">
                    <h2 class="no-anchor text-secondary text-center mb-3">Moduli previsti in questo ciclo di attività</h2>

                </div>
           </div>
       </section>

        
       

 </div>
    {%- if site.theme_variables.back_to_top or site.theme_variables.back_to_top == nil %}
    <button id="back-to-top" class="btn btn-primary" type="button" aria-hidden="true" onclick="topFunction()">
        <i class="fa-solid fa-arrow-up"></i>
    </button>
{%- endif %} 